.social-Login
    button
        span.social-login--github
            i.fab.fa-github
        | Continue With Github
    button
        span.social-login--facebook
            i.fab.fa-facebook
        | Continue With Facebook        