extends layout/main.pug
include mixins/videoBlock

block content
    .search-header
        h3 searching for: #{searchingBy}
    .search-videos
        each item in videosis
            +videoBlock({
                title: item.title,
                views: item.views,
                videoFIle: item.videoFile,
            })